<img src="https://camo.githubusercontent.com/5cb734f6fc37f645dc900e35559c60d91cc6b550/68747470733a2f2f6465762e70616e6461732e696f2f7374617469632f696d672f70616e6461732e737667" height="300px" width="500px" >

<a href="https://t.me/init_python"><img src="https://dfedorov.spb.ru/pandas/logo-telegram.png" width="35" height="35" alt="telegram" align="left"></a>

<a href="https://colab.research.google.com/github/dm-fedorov/pandas_basic/blob/master/%D0%B1%D1%8B%D1%81%D1%82%D1%80%D0%BE%D0%B5%20%D0%B2%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B2%20pandas/01.%20%D0%9A%D0%B0%D0%BA%D0%B8%D0%B5%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%B0%D1%82%D1%8B%D0%B2%D0%B0%D0%B5%D1%82%20pandas%3F.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory" target="_blank"></a>

Импортируем модуль `pandas`:

In [ ]:
import pandas as pd

В основе работы `pandas` лежит табличное представление данных:

<img src="https://pandas.pydata.org/docs/_images/01_table_dataframe.svg">

В качестве примера рассмотрим данные о пассажирах Титаника. 

<img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1374145/6aae47e9a525adfb3c9c433be10e62df/1920x1080" height="300px" width="500px" >

Для ряда пассажиров я знаю имя (символы), возраст (целые числа) и пол (мужской / женский).

In [ ]:
df = pd.DataFrame({
            "Name": ["Braund, Mr. Owen Harris",
                     "Allen, Mr. William Henry",
                     "Bonnell, Miss. Elizabeth"],
             "Age": [22, 35, 58],
             "Sex": ["male", "male", "female"]}
                )

In [ ]:
df

Полученная структура данных называется [`DataFrame`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html#pandas.DataFrame).

Напоминает обычные таблицы:

<img src="https://pandas.pydata.org/pandas-docs/stable/_images/01_table_spreadsheet.png" height="200px" width="400px" >

Каждый столбец в структуре `DataFrame` является типом [`Series`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series):

<img src="https://pandas.pydata.org/pandas-docs/stable/_images/01_table_series.svg">

Выбрать столбец из таблицы:

In [ ]:
df["Age"]

Внешне очень напоминает питоновский [словарь](https://docs.python.org/3/tutorial/datastructures.html#tut-dictionaries).

Вы также можете создать `Series` с нуля:

In [ ]:
ages = pd.Series([22, 35, 58], name="Age")

In [ ]:
ages

### Сделайте что-нибудь с DataFrame или Series

Я хочу узнать максимальный возраст пассажиров, применив функцию `max()` к столбцу таблицы:

In [ ]:
df["Age"].max()

или к типу данных `Series`:

In [ ]:
ages.max()

Помимо поиска максимального в `pandas` существует [большой набор функций](https://pandas.pydata.org/docs/user_guide/basics.html?highlight=describe#descriptive-statistics).

Если интересует некоторая базовая статистика числовых данных:

In [ ]:
df.describe()

[`describe()`](https://pandas.pydata.org/docs/user_guide/basics.html?highlight=describe#summarizing-data-describe) метод обеспечивает краткий обзор численных данных в `DataFrame`. 

Так как столбцы `Name` и `Sex` состоят из текстовых данных, то они не учитываются в `describe()`.

Многие операции в `pandas` возвращают `DataFrame` или `Series`.

<a href="https://t.me/init_python"><img src="https://dfedorov.spb.ru/pandas/logo-telegram.png" width="35" height="35" alt="telegram" align="left"></a>